<section class="aboutSection">
    <div class="aboutSection__rating">
        <p>IMDb rating</p>
        <p><span>8.4</span>/10</p>
    </div>
    
    <article>
        <h2>about <span>joker</span></h2>
        <p class="description">In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker.</p>
        <div class="aboutSection__article__tags">
            <p class="tag">crime</p>
            <p class="tag">drama</p>
            <p class="tag">triller</p>
        </div>
        <table class="aboutSection__article__references" width="100%">
            <tr class="line"><th colspan="2"></th></tr>
            <tr>
                <th>Director</th>
                <td>Todd Phillips</td>
            </tr>
            <tr class="line"><th colspan="2"></th></tr>
            <tr>
                <th>Writers</th>
                <td>Todd Phillips - Scott Silver - Bob Kane</td>
            </tr>
            <tr class="line"><th colspan="2"></th></tr>
            <tr>
                <th>Stars</th>
                <td>Joaquin Phoenix - Robert De Niro - Zazie Beetz</td>
            </tr>
            <tr class="line"><th colspan="2"></th></tr>
        </table>
    </article>
    <div class="aboutSection__relesedBy">
        <p>JOKER and all related characters and elements © & ™ DC Comics. © Warner Bros. Entertainment Inc.</p> 
    </div>
</section>