<section class="awardsSection">
    <h3>awards</h3>
    <div class="awardSection__oscar-carousel">
        <div class="awardSection__oscar-bafta--carousel__content">
            <div>
                <p>Best Performance by an Actor in a Leading Role</p>
                <p>joaquin phoenix</p>
            </div>
            <div>
                <p>Best Achievement in Music Written for Motion Pictures</p>
                <p>hildur guðnadóttir</p>
            </div>
            <div>
                <p>Best Achievement in Directing</p>
                <p>Todd Phillips</p>
            </div>
            <div>
                <p>Best Adapted Screenplay</p>
                <p>Todd Phillips<br>Scott Silver</p>
            </div>
            <div>
                <p>Best Achievement in Cinematography</p>
                <p>Lawrence Sher</p>
            </div>
            <div>
                <p>Best Achievement in Costume Design</p>
                <p>Mark Bridges</p>
            </div>
            <div>
                <p>Best Achievement in Makeup and Hairstyling</p>
                <p>Nicki Ledermann<br>Kay Georgiou</p>
            </div>
            <div>
                <p>Best Achievement in Film Editing</p>
                <p>Jeff Groth</p>
            </div>
            <div>
                <p>Best Achievement in Sound Editing</p>
                <p>Alan Robert Murray</p>
            </div>
        </div>
        <img class="awardSection__oscar-bafta--carousel__img" src="./images/oscar.svg" alt="">
    </div>

    <div class="awardSection__bafta-carousel">
        <div class="awardSection__oscar-bafta--carousel__content">
            <div>
                <p>Best Casting</p>
                <p>Joaquin Phoenix</p>
            </div>
            <div>
                <p>Original Music</p>
                <p>Hildur Guðnadóttir</p>
            </div>
            <div>
                <p>Best Casting</p>
                <p>Shayna Markowitz</p>
            </div>
            <div>
                <p>Best Screenplay</p>
                <p>Todd Phillips<br>Scott Silver</p>
            </div>
            <div>
                <p>Best Director</p>
                <p>Todd Phillips</p>
            </div>
            <div>
                <p>Best Cinematography</p>
                <p>Lawrence Sher</p>
            </div>
            <div>
                <p>Best Editing</p>
                <p>Jeff Groth</p>
            </div>
            <div>
                <p>Best Production Design</p>
                <p>Mark Friedberg<br>Kris Moran</p>
            </div>
            <div>
                <p>Best Make Up/Hair</p>
                <p>Kay Georgiou<br>Nicki Ledermann</p>
            </div>
        </div>
        <img class="awardSection__oscar-bafta--carousel__img" src="./images/bafta.svg" alt="">
    </div>
</section>