<section class="footer">
    <h2>"put on a happy face"</h2>
    <div class="footer__cont">
        <div class="footer__cont--in">
            <h3>menu</h3>
            <a href="#">contact</a>
            <a href="#">galery</a>
            <a href="#">full cast</a>
            <a href="#">DC Entertainment</a>
        </div>

        <div class="footer__cont--in">
            <h3>social media</h3>
            <a href="#">instagram</a>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
        </div>
    </div>
    <img class="footer__vector" src="./images/footer-vector.svg" alt="end">
</section>