<section class="historySection">
    <h2>joker in films</h2>
    <div class="historySection__cont">
        <div class="historySection__cont-in">
            <img class="historySection__cont-in-line" src="./images/history-line.svg" alt="">
            <div class="film the-killing-joker">
                <img src="./images/the-killing-joker.png" alt="">
                <p>The Killing Joker</p>
            </div>
            <div class="film batman-1989">
                <img src="./images/batman-1989.png" alt="">
                <p>Batman (1989)</p>
            </div>
            <div class="film the-dark-knight">
                <img src="./images/the-dark-knight-2008.png" alt="">
                <p>The Dark Knight (2008)</p>
            </div>
            <div class="film suicide-squad">
                <img src="./images/suicide-squad-2016.png" alt="">
                <p>Suicide Squad (2016)</p>
            </div>
            <div class="film the-joker">
                <img src="./images/the-joker-2019.png" alt="">
                <p>The Joker (2019)</p>
            </div>
        </div>
        <img class="historySection__cont-bg" src="./images/history-bg.png" alt="">
    </div>
</section>