<section class="landingView" id="#landingView">
    <div class="landigView__bg">
        <img class="landingView__bg__image" src="./images/landingView-background-image.jpg" alt="">
        <img class="landingView__bg__text" src="./images/landingView-background-h1.svg" alt="">
    </div>
    
    <div class="landigView__text">
        <div class="landingView__text--main">
            <div class="landingView__text--main--in">
                <p>Joaquin Phoenix</p>
                <p>a todd phillips film</p>
            </div>
            <img src="./images/landingView-text-h1.png" alt="">
            <h2>" put on a happy face "<svg><text x="0" y="70%" fill="#BE4A4E">" put on a happy face "</text></svg></h2>
        </div>
        <p class="landingView__text--lastP">in cinemas <strong>october 4</strong></p>
    </div>
    <img class="landingView__arrow" src="./images/Arrow.svg">
</section>