<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="František Špunda">
    <meta name="description" content="No official Joker's website">
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <title>Joker</title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js" defer></script>
    <script src="./js/index.js" defer></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>