<div class="menuActive__fullCast menuActive_block">
    <div class="menuActive__block__closeButton">
        <img src="./images/closeButton.svg" alt="">
    </div>
    <h2>full cast</h2>
    <p>
        Joaquin Phoenix	...	Arthur Fleck
Robert De Niro	...	Murray Franklin
Zazie Beetz	...	Sophie Dumond
Frances Conroy	...	Penny Fleck
Brett Cullen	...	Thomas Wayne
Shea Whigham	...	Detective Burke
Bill Camp	...	Detective Garrity
Glenn Fleshler	...	Randall
Leigh Gill	...	Gary
Josh Pais	...	Hoyt Vaughn
Rocco Luna	...	GiGi Dumond
Marc Maron	...	Gene Ufland
Sondra James	...	Dr. Sally
Murphy Guyer	...	Barry O'Donnell
Douglas Hodge	...	Alfred Pennyworth
Dante Pereira-Olson	...	Bruce Wayne
Carrie Louise Putrello	...	Martha Wayne
Sharon Washington	...	Social Worker
Hannah Gross	...	Young Penny
Frank Wood	...	Dr. Stoner
Brian Tyree Henry	...	Carl (Arkham Clerk)
April Grace	...	Arkham Psychiatrist
Mick Szal	...	Woman on Subway
Carl Lundstedt	...	Wall Street Three
Michael Benz	...	Wall Street Three
Ben Warheit	...	Wall Street Three
Gary Gulman	...	Comedian
Sam Morril	...	Open Mic Comic
Chris Redd	...	Comedy Club Emcee
Mandela Bellamy	...	Mother on Bus
Demetrius Dotson II	...	Boy on Bus
Greer Barnes	...	Haha's Clown
Ray Iannicelli	...	Haha's Clown
Bryan Callen	...	Haha's Stripper
Peter Benson	...	Good Morning Host
Vito Gerbino	...	Street Kid
Adam Quezada	...	Street Kid
Xavyer Ureña	...	Street Kid
Evan Rosado	...	Street Kid
Damian Emmanuel	...	Street Kid
Mike Troll	...	Clown Protestor
Jane Fergus	...	IBN Anchorwoman
David Gibson	...	WBC News Anchor
Tony D. Head	...	WGC Anchorman
Jeff McCarthy	...	NCB Anchor
Kim Brockington	...	NCB Co-Anchor
Troy Roberts	...	NCB News Reporter
Lou Young	...	ANC News Reporter
Michael-Scott Druckenmiller	...	Paramedic
Craig Austin	...	Paramedic
John Cenatiempo	...	Aftermath Police Officer
Danny Schoch	...	Aftermath Police Officer
Keith Buterbaugh	...	Band Leader
James Ciccone	...	Murray Franklin Band
Rich Campbell	...	Murray Franklin Band
Roger Squitero	...	Murray Franklin Band
Steven Elson	...	Murray Franklin Band
Graham Maby	...	Murray Franklin Band
John Alldred	...	Murray Franklin Band
Alonzo Wright	...	Murray Franklin Band
Jack Wilkins	...	Murray Franklin Band
Richard Baratta	...	Murray Franklin Band
    </p>
    <div class="menuActive__fullcast__lines">
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>