<div class="menuActive__references menuActive_block">
    <div class="menuActive__block__closeButton">
        <img src="./images/closeButton.svg" alt="">
    </div>
    <h2>references</h2>

    <div class="menuActive__references__links">
        <a href="https://policies.warnerbros.com/privacy/" target="_blank">privacy of policy</a>
        <a href="https://www.dccomics.com/" target="_blank">dc comics</a>
    </div>
    <div class="menuActive__references__links">
        <a href="https://policies.warnerbros.com/terms/en-us/html/terms_en-us_1.2.0.html" target="_blank">terms of use</a>
        <a href="https://www.warnerbros.com/" target="_blank">warner bros</a>
    </div>

    <a class="menuActive__about__emails" href="mailto: wbcpinquiries@warnerbros.com">wbcpinquiries@warnerbros.com</a>
    <a class="menuActive__about__emails" href="mailto: dcsubs@midtowncomics.com">dcsubs@midtowncomics.com</a>

    <img class="menuActive__references__footerImg" src="./images/menu_references_footer.svg" alt="">
</div>