<div class="menuActive">
    <div class="menuActive__slider">
        <img src="./images/closeButton.svg" alt="" class="closeButton">
        <div class="menuActive__slider__links">
            <a class="menuActive__slider__links__link">about</a>
            <a class="menuActive__slider__links__link">references</a>
            <a class="menuActive__slider__links__link">galery</a>
            <a class="menuActive__slider__links__link">full cast</a>
        </div>
        <div class="menuActive__slider__social">
            <div>
                <a href="https://www.instagram.com/jokermovie/" target="_blank"><img src="./images/instagram.svg" alt=""></a>
                <a href="https://twitter.com/DCFUnited" target="_blank"><img src="./images/twitter.svg" alt=""></a>
                <a href="https://www.facebook.com/dcentertainmentverse" target="_blank"><img src="./images/facebook.svg" alt=""></a>
            </div>
            <p>#JokerMovie</p>
        </div>
    </div>

    {% include "menu_about.html" %}
    {% include "menu_references.html" %}
    {% include "menu_galery.html" %}
    {% include "menu_full_cast.html" %}
</div> 