<div class="menuActive__galery menuActive_block">
    <div class="menuActive__block__closeButton">
        <img src="./images/closeButton.svg" alt="">
    </div>
    <h2>galery</h2>
    
    <div class="menuActive__galery__galeryFlex">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
        <img src="./images/galery-image.png" alt="">
    </div>
</div>