<div class="menuActive__about menuActive_block">
    <div class="menuActive__block__closeButton">
        <img src="./images/closeButton.svg" alt="">
    </div>
    <h2>about</h2>
    <p>In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. 
        He then embarks on a downward spiral of revolution and bloody crime. 
        This path brings him face-to-face with his alter-ego: the Joker.
    </p>
    <div class="menuActive__about__tags">
        <p class="tag">crime</p>
        <p class="tag">drama</p>
        <p class="tag">triller</p>
    </div>
    <div class="menuActive__about__rating">
        <p>IMDb rating</p>
        <p><span>8.4</span>/10</p>
    </div>
</div>