<section class="trailersSection">
    <h2>trailers</h2>
    <div class="trailerSection__slider">
        <div>
            <div>
                <div class="image-cont">
                    <img class="image-cont_img" data-src="https://www.youtube.com/embed/fkzH0RuGjOY" src="./images/trailer-image-1.jpg" alt="">
                    <img class="image-cont_play" src="../images/play-button.svg" alt="">
                </div>
            </div>
            <div>
                <div class="image-cont">
                    <img class="image-cont_img" data-src="https://www.youtube.com/embed/0fOCZS0J3qM" src="./images/trailer-image.jpg" alt="">
                    <img class="image-cont_play" src="../images/play-button.svg" alt="">
                </div>
            </div>
            <div>
                <div class="image-cont">
                    <img class="image-cont_img" data-src="https://www.youtube.com/embed/06g6kHWNQoE" src="./images/trailer-image-6.png" alt="">
                    <img class="image-cont_play" src="../images/play-button.svg" alt="">
                </div>
            </div>
            <div>
                <div class="image-cont">
                    <img class="image-cont_img" data-src="https://www.youtube.com/embed/k1z-45O-ZHQ" src="./images/trailer-image-4.png" alt="">
                    <img class="image-cont_play" src="../images/play-button.svg" alt="">
                </div>
            </div>
            <div>
                <div class="image-cont">
                    <img class="image-cont_img" data-src="https://www.youtube.com/embed/rgXplohCw5o" src="./images/trailer-image-5.png" alt=""> 
                    <img class="image-cont_play" src="../images/play-button.svg" alt=""> 
                </div>
            </div>
        </div>
    </div>
    <div id="trailerSection_video">
        <iframe src="https://www.youtube.com/embed/-WhEzzAYG70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img id="close_video" src="./images/closeButton.svg" alt="">
    </div>
</section>