<section class="trailersSection">
    <h2>trailers</h2>
    <div class="trailerSection__slider">
        <div>
            <div>
                <img src="./images/trailer-image-1.jpg" alt="">
                <h3>trailer-image-1</h3>
            </div>
            <div>
                <img src="./images/trailer-image.jpg" alt="">
                <h3>trailer-image-1</h3>
            </div>
            <div>
                <img src="./images/trailer-image-2.jpg" alt="">
                <h3>trailer-image-1</h3>
            </div>
            <div>
                <img src="./images/trailer-image-1.jpg" alt="">
                <h3>trailer-image-1</h3>
            </div>
            <div>
                <img src="./images/trailer-image.jpg" alt=""> 
                <h3>trailer-image-1</h3>
            </div>
        </div>
    </div>
</section>